/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.kruzok {
  color:red;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #0077b3;
  overflow: hidden;
}

.trojuholnik {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 90px 50px;
  border-color: transparent transparent #007bff transparent;
  margin: 60px auto 0 auto;
}

.mail {
  width: 80px;
  height: 80px;
  background: url("/static/Mail.png") no-repeat right top;
  background-size: 80px 80px;
  position: absolute;
  top: 40px;
  left:35px;
}